* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(./assets/Fundo.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #121214;

  font-family: "Inter", sans-serif;

  line-height: 160%;
}

header {
  text-align: center;

  height: calc(120px + 32px);

  padding-top: 32px;
}
header div {
  display: flex;

  width: 120px;

  margin: auto;
  padding: 4px;

  background-image: linear-gradient(
    90deg,
    #9572fc 0%,
    #43e7ad 50.52%,
    #e2d45c 100%
  );

  border-radius: 50%;

  transition: transform 0.3s;

  animation: fromTop 0.7s 0.1s backwards;
}

header div:hover {
  transform: scale(1.1);
}
header img {
  width: 100%;

  border-radius: 50%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 580px;
  width: 90%;

  margin: 32px auto;
}
main section {
  animation: fromBottom 0.7s backwards;
}
section {
  border-radius: 10px;
  background-image: linear-gradient(
    90deg,
    #9572fc 0%,
    #43e7ad 50.52%,
    #e2d45c 100%
  );

  padding-top: 4px;
}
section div {
  padding-top: 24px;
  padding: 32px;

  background: #2a2634;

  border-radius: 8px;
}
section h2 {
  color: #ffff;
  letter-spacing: -0.47px;
}
section p {
  color: #a1a1aa;
  letter-spacing: -0.18px;
}
section ul li {
  transition: transform 0.3s;
}
section ul li:hover {
  transform: scale(1.1);
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;
}

.games-list img {
  width: 90px;
  border-radius: 8px;
}

.channel-list img {
  width: 70px;
  border-radius: 50%;

  border: 1px solid #443e54;
}

/* Aqui eu estou pegando cada section para animar cadenciadamente nth-child e filho número (1) */
main section:nth-child(1) {
  animation-delay: 0s;
}
main section:nth-child(2) {
  animation-delay: 0.3s;
}
main section:nth-child(3) {
  animation-delay: 0.6s;
}

/* Animação */
@keyframes fromTop {
  /* From - De um determinado local, no caso ai 30px acima  */
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  /* To - para o ponto original 0 */
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  /* como é de baixo para cima o valor inicial é positivo */
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  /* To - para o ponto original 0 */
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
